<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC6Experiment</title>

    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/metro/build/css/metro.css" >
        <link rel="stylesheet" href="~/lib/metro/build/css/metro-icons.css">
    </environment>
</head>
<body>

    <div class="container">
        <div class="app-bar " data-role="appbar">
            <a class="app-bar-element" asp-action="Index" asp-controller="Home">Home</a>

            <span class="app-bar-divider"></span>
            <ul class="app-bar-menu">
                <li><a class="" asp-action="Index" asp-controller="Template">Templates</a></li>
            </ul>

            <div class="app-bar-element place-right">
                <a class="fg-white" id="show_settings"><span class="mif-cog"></span></a>
            </div>

            <span class="app-bar-divider"></span>

            <div class="app-bar-element place-right">
                <div class="input-control text" style="width:19em;" data-role="input">
                    <input type="text">
                    <button class="button"><span class="mif-search"></span></button>
                </div>
            </div>
        </div>
        @RenderSection("breadcrumb", required: false)
        <div class="grid">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <environment names="Development,Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/hammer.js/hammer.js"></script>
        <script src="~/lib/metro/build/js/metro.js"></script>
    </environment>

    <script type="text/javascript">

        //jQuery.expr[":"].Contains = jQuery.expr.createPseudo(function (arg) {
        //    return function (elem) {
        //        return jQuery(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
        //    };
        //});

        $(function () {
            $(document).ajaxError(function (event, jqxhr, settings, exception) {
                var data = jqxhr.responseJSON;
                console.log(data);
                console.log(exception);
                $.Notify({
                    caption: jqxhr.status,
                    content: (data.Message) ? data.Message : data,
                    icon: "<span class='mif-fire'></span>",
                    type: 'alert'
                });
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
